.busImage{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.formContainer{
margin-top: 10%;
}

.LoginForm{
    margin-top: 40px;
}

.companyLogo{
    width: 200px;
}

.imageColumn{
    text-align: center;
}
.imageTopic{
    color: #b6b6b6;
}
